<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/manager/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
    <li><a href="/manager/settings"><i class="fa fa-cogs"></i>Settings</a></li>
    <li><a href="/manager/line"><i class="fa fa-arrows-h"></i>The Line</a></li>
    <li><a href="/manager/settings"><i class="fa fa-line-chart"></i>Analytics</a></li>
  </ul>
</div>
