<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<br>
<br>

<div class="container">
	<!-- Versioning -->
	<h1>About</h1>
	<p>Version v1.0.2</p>
	<br>

	<!-- About Desscription -->
	<h4>About TheQ</h4>
	<p>TheQ is a virtual line designed to streamline the repair process. Devices are organized by promised time and marked urgent (red ticket number) when the current time and the repair time (time it takes to perform a given repair) added together reach the promised time. Click on a ticket number in the line to see it in RepairQ, see who started a repair or start a repair yourself. The possibilities are endless. For more information visit the <a href="/updates">Planned Updates</a> page.</p>
	<br>

	<!-- Release Notes -->
	<h4>Release Notes</h4>
	<p>In this release: TODO: write this!</p>
	<br>

	<!-- Built By / Footer -->
	<footer>Built and Maintained by: <a href="http://www.stosur.info/">Preston Stosur-Bassett</a> and Adam Yinger</footer>
</div>
