<!-- Loading Universal Dependencies -->
<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<div class="container">
  <div class="row">
    <h1>Analyze</h1>
  </div>

  <div class="row">
    <h3>Technician Ranking</h3>
    
  </div>
</div>
