<!-- Loading Universal Dependencies -->
<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<!-- Load Page Dependencies Here -->
<link rel="stylesheet" href="/styles/jquery.datetimepicker.css">
<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>

<div class="container">
	<h1>Add Item</h1>
	<br>

	<select class="form-control" id="storeLocation">
		<option value="invalid" disabled selected>Select Location</option>
		<% for(var i = 0; i < locations.length; i++) { %>
			<option value="<%= locations[i].location %>"><%= locations[i].location %></option>
		<% } %>
	</select>

	<h3>Device Details</h3>
	<form>
		<div class="form-group">
			<label for="deviceMake">Device Make</label>
			<input type="text" id="deviceMake" name="deviceMake" class="form-control" placeholder="Device Make">
		</div>
		<div class="form-group">
			<label for="deviceModel">Device Model</label>
			<input type="text" id="deviceModel" name="deviceModel" class="form-control" placeholder="Device Model">
		</div>
		<div class="form-group">
			<label for="repairType">Repair Type</label>
			<input type="text" id="repairType" name="repairType" class="form-control" placeholder="Repair Type">
		</div>
		<div class="form-group">
			<label for="repairLength">Repair Length (in hours)</label>
			<input type="number" id="repairLength" name="repairLength" class="form-control" placeholder="1">
		</div>
	</form>

	<br>

	<h3>Other Details</h3>
	<form>
		<div class="form-group">
			<label for="ticketNumber">Ticket Number</label>
			<input type="number" id="ticketNumber" name="ticketNumber" class="form-control" placeholder="9861">
		</div>
		<div class="form-group">
			<label for="promiseTime">Promise Time</label>
			<br>
			<input type="text" id="promisetime" name="promisetime"/>
		</div>
	</form>

	<form>
		<div class="form-group">
			<a href="#" class="btn btn-primary pull-left" id="addItem-Cancel">Cancel</a>
			<a href="#" class="btn btn-success pull-right" id="addItem-Button">Add Item</a>
		</div>
	</form>
</div>

<br>
<br>

<!-- On Page Scripts Load Here -->
<script type="text/javascript" src="/js/home/add.js"></script>

<script type="text/javascript">
	//Pre-Load Functions
	$(document).ready(function() {
		//Load some default values to speed up the process a bit.
		if(localStorage.storeLocation != null || localStorage.storeLocation != undefined) {
			$("#storeLocation").val(localStorage.storeLocation);
		}
	});
</script>
