<% include parts/dependencies.ejs %>
<link rel="stylesheet" href="/styles/login.css">
<div class="container">
  <div class="row">
    <center>
      <img class="branding" src="/images/theq-white.png">
      <div class="box">
        <h1>Login</h1>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control" id="email" placeholder="Email">
              <div class="input-group-addon">@location-cpr.com</div>
            </div>
          </div>
        </form>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputAmount" placeholder="password">
            </div>
          </div>
        </form>
      </div>
    </center>
  </div>
</div>
