<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<br>
<br>

<div class="container">
	<h1>Settings</h1>
	<br>
	<p>The following are the available local settings that can be applied.</p>
	<ul>
		<li>
			<a href="#" class="btn btn-danger btn-sm" id="clear_defaults">Clear Defaults</a>
		</li>
	</ul>
</div>

<script type="text/javascript" src="/js/home/local_settings.js"></script>
