<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<br>
<br>

<div class="container">
	<h1>Planned Updates</h1>
	<br>
	<p>The following updates are scheduled to be integrated into this system.
		<ul>
			<li>User Accounts (including manager accounts)</li>
			<li>Updated Queue</li>
			<li>Better Multiple Location Support</li>
			<li>Integrated Estimate Request System</li>
			<li>Chrome Extention Support</li>
			<li>Close Rates Tracking?</li>
			<li>Store-Wide Alerts</li>
			<li>Red Dragon Alert</li>
			<li>Price Outs</li>
			<li>Integrated Google Docs</li>
			<li>Settings Section</li>
			<li>+ More</li>
		</ul>
	</p>
	<p>I'm open to suggestions if anyone has any ideas for improvements or features. Feel free to shoot me an email at <a href="mailto://pstosur@kalamazoo-cpr.com">pstosur@kalamazoo-cpr.com</a>.</p>
</div>
