<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<br>
<br>

<div class="container">
	<h1>Planned Updates</h1>
	<br>
	<p>The following updates are scheduled to be integrated into this system.
		<ul>
			<li>User Accounts (including manager accounts)</li>
			<li>Updated Queue</li>
			<li>Multiple Location Support</li>
			<li>Integrated Estimate Request System</li>
			<li>Chrome Extention Support</li>
			<li>Close Rates Tracking?</li>
			<li>Store-Wide Alerts</li>
			<li>Cache Tedious Data</li>
			<li>+ More</li>
		</ul>
	</p>
	<p>I'm open to suggestions if anyone has any ideas for improvements or features.</p>
</div>
