body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  background-color: #fff;
}

.navbar {
  color: #fff;
  height: 200px;
}

.navbar-header {
  color: #fff;
  margin-top: 0px;
  background-color: #04a384;
}

.navbar-toggle {
  color: #fff;
}

.navbar-nav > li > .dropdown-menu, .dropdown-menu {
  border-radius: 0px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  background-color: #04a384;
}

.navbar-theq .navbar-brand {
  color: #fff;
}

.navbar-theq .navbar-header .brand-image {
  margin-top: -10px;
  padding-top: 0px;
  margin-bottom: 10px;
  height: 300%;
  width: auto;
}

.navbar-theq {
  background-color: #04a384;
  height: auto;
  height: 70px;
}

.navbar .nav {
  color: #fff;
}

.navbar-nav > li > a {
  color: #fff;
  margin-top: 10px;
}

.navbar-nav > li > a:hover {
  color: #04a384;
  background-color: #fff;
}

.text-colored {
  color: #04a384;
}

.line-tile {
  border-style: solid;
  border-width: 1px;
  border-color: #04a384;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.line-tile .repair-type {
  color: #04a384;
  font-weight: 400;
  font-size: 21px;
}

.line-tile .btn-primary {
  background-color: #d35400;
  color: #fff;
  border-radius: 0px;
  border-color: #d35400;
}

.line-tile .btn-primary:hover {
  background-color: #fff;
  color: #d35400;
  border-style: solid;
  border-width: 2px;
  border-color: #d35400;
}

.line-tile .btn-success {
  background-color: #04a384;
  border-color: #04a384;
  color: #fff;
  border-radius: 0px;
}

.line-tile .btn-success:hover {
  background-color: #fff;
  color: #04a384;
  border-style: solid;
  border-width: 2px;
  border-color: #04a384;
}

.line-tile .ticket-number {
  background-color: #c0392b;
  color: #fff;
  border-radius: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  margin-right: 10px;
}

.btn-primary {
  background-color: #d35400;
  color: #fff;
  border-radius: 0px;
  border-color: #d35400;
}

.btn-primary:hover {
  background-color: #fff;
  color: #d35400;
  border-style: solid;
  border-width: 2px;
  border-color: #d35400;
}

.q td {
  margin-top: 20px;
}

.btn-success {
  background-color: #04a384;
  border-color: #04a384;
  color: #fff;
  border-radius: 0px;
}

.btn-danger:hover {
  background-color: #fff;
  color: #c0392b;
  border-style: solid;
  border-width: 2px;
  border-color: #c0392b;
}

.btn-danger {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #fff;
  border-radius: 0px;
}

.btn-white {
  margin-top: -5px;
  background-color: #fff;
}

.btn-white:hover {
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
}

.btn-success:hover {
  background-color: #fff;
  color: #04a384;
  border-style: solid;
  border-width: 2px;
  border-color: #04a384;
}

.ticket-number-danger {
  background-color: #c0392b;
  color: #fff;
  border-radius: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: 10px 10px 10px 10px;
}

.ticket-number-normal {
  background-color: #04a384;
  color: #fff;
  border-radius: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: 10px 10px 10px 10px;
}
