<!-- Navbar relevant styles -->
<style>
	@media (min-width: 970px) {
		ul.nav li.dropdown:hover > ul.dropdown-menu {
			display: block;
		}
	}
</style>

<nav class="navbar navbar-theq navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index"><img class="brand-image" src="/images/theq-white.png"></a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/add/device">Device</a></li>
						<li class="divider"></li>
						<li><a href="/add/alert">Alert</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aira-expanded="false"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;&nbsp;View<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/q">Line</a></li>
						<li class="divider"></li>
						<li><a href="https://cpr-900191.repairq.io/site/login" target="_blank">RepairQ</a></li>
						<li><a href="http://stosur.info/requestr/" target="_blank">Estimate Requests</a></li>
						<li class="divider"></li>
						<li><a href="/updates">Planned Updates</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</li>
				<li><a href="/settings"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp; Settings</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Navbar relevent scrips -->
<script type="text/javascript">
	$(document).ready(function() {
		//No navbar relevant client side javascript required.
	});
</script>
